.cover {
    background-image: url(../../images/cover-trains.jpg);
    width: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.cover::before {
    content: '';
    width: 100%;
    padding-top: 62.5%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: block;
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        margin: 0 48px 0;
    } 
}