.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    margin: 0;
    padding-bottom: 16px;
    max-width: 288px;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        padding-bottom: 32px;
        max-width: 560px;
    } 
}